
html, body {
  padding: 10px;
}

.btn {
  background-color: #4386fc;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  padding: 0px 26px;
}

.card_panel.hoverable {
  margin-left: 20px;
  margin-right: 80px;
  margin-top: 20px;
  padding: 10px;
}

.circle.responsive.img {
  height: 300px;
  width: 300px;
}
