<auth-nav></auth-nav>

<h1> show page </h1>

<h2>{{ProfileShowViewModel.profile.name}}</h2>
<p>{{ProfileShowViewModel.profile.gender}}</p>
<p>{{ProfileShowViewModel.profile.age}}</p>
<p>{{ProfileShowViewModel.profile.location}}</p>
<p>{{ProfileShowViewModel.profile.work}}</p>
<p>{{ProfileShowViewModel.profile.desription}}</p>
<img data-ng-src={{ProfileShowViewModel.profile.profile_pic_url}}>

<h2>Momements</h2>
<p>**LIST OF MOMENTS WILL GO HERE** </p>




<h2>Add moments</h2>

<div data-ng-repeat = "story in ProfileShowViewModel.stories | orderBy: '-created_at'">
  {{story.content}}
</div>

<form name="momentsForm" ng-submit="MomentsNewController()">
  <input placeholder="Share your moment" data-ng-model="ProfileShowViewModel.story.content" />
  <button type="button" data-ng-click="ProfileShowViewModel.create()">Create</button>
</form>

<a class="btn" data-ui-sref="ProfileEdit({id: ProfileShowViewModel.profile.id})">Edit Profile</a>






<!-- add edit ability here -->
