<link rel="stylesheet" type="text/css" href="stylesheet/show.css">
<div class="show container">
<form ng-submit="SessionsViewModel.signup()">
  <div>
    <label>email</label>
    <input type="email" name="email" ng-model="SessionsViewModel.signupForm.email" required="required"/>
  </div>

  <div>
    <label>password</label>
    <input type="password" name="password" ng-model="SessionsViewModel.signupForm.password" required="required"/>
  </div>

  <div>
    <label>password confirmation</label>
    <input type="password" name="password_confirmation" ng-model="SessionsViewModel.signupForm.password_confirmation" required="required"/>
  </div>

  <button class="btn" type="submit">Register</button>
</form>
</div>
