<link rel="stylesheet" type="text/css" href="stylesheet/show.css">
<div class="show container">
<form ng-submit="SessionsViewModel.signin()">
  <div>
    <label>email</label>
    <input type="email" name="email" ng-model="SessionsViewModel.signinForm.email" required="required"/>
  </div>
  <div>
    <label>password</label>
    <input type="password" name="password" ng-model="SessionsViewModel.signinForm.password" required="required"/>
  </div>
  <button class="btn" type="submit">Sign In</button>
</form>
</div>
